<!DOCTYPE html>
<html lang="en">
  <head>
    <title>How Company X Makes Money</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <form method="post" action="/add_company">
      <p>
        <label for="company_name"> <b>Company Name:</b>
          <input name="company_name" id="name" />
        </label>
      </p>
      <p>
        <label for="company_nickname"> <b>Company Nickname:</b>
          <input name="company_nickname" id="nickname" />
        </label>
      </p>
      <p>
        <label for="company_ticker"> <b>Company Ticker:</b>
          <input name="company_ticker" id="ticker" />
        </label>
      </p>
      <p>
        <button type="submit">Submit</button>
      </p>
    </form>
  </body>
</html>
