<!DOCTYPE html>
<html lang="en">
  <head>
    <title>How Company X Makes Money</title>
    <meta charset="UTF-8"/>
  </head>
  <body>
    <section class="company_list">
      <% @company_list.each do |tuple| %>
        <form class="inline" method="get" action="/company_data_input">
          <strong><%= tuple["nickname"] %></strong>
          <br><button name="<%= tuple["ticker"] %>" type="submit">Input Data</button>
        </form>
         or 
        <form class="inline" method="get" action="/retrieve_data">
          <button name="<%= tuple["ticker"] %>" type="submit">Retrieve Data</button>
        </form>
        <br>
      <% end %>
    </section>
    <section class="add_company">
      <form class="inline" method="get" action="/add_company">
        <br><button type="submit">Add Company</button>
      </form>
    </section>
  </body>
</html>
